body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.containerH1P1 {
    justify-content: center;
    margin: 50px ;
}

h1 {
    font-size: 2em;
    color: #000;
}

p {
    color: #555;
    font-size: 1em;
    max-width: 600px;
    margin: 10px auto;
}

button {
    /* background-color: black; */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
}

button:hover {
    background-color: #333;
}

.gridP1 {
    /* background-color: #000; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 200px;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.bnt1 {
    justify-content: center;
    width: 158px;
    height: 54px;
    border-radius: 16px;
    margin-top: 20px;
    background: #252525;
    color: white;
}
